.thanks-main {
  margin-top: 120px;
  min-height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks-text {
  font-family: "Cormorant", cursive;
  font-weight: 500;
  font-size: 2rem;
}

.thanks-home-button-container {
  display: flex;
}

.thanks-icon {
  font-size: 1.5rem;
  color: #c19d56;
}

.thanks-home-text {
  font-size: 1.1rem;
  margin-left: 0.5rem;
  color: #c19d56;
}

.thanks-home-text::selection {
  background-color: #c19d56;
  color: white;
}
