.table {
  color: #c19d56;
  margin-bottom: 4rem;
}

.table tr th {
  color: #000000;
  font-family: "Montserrat", cursive;
  font-size: 1.1rem;
  letter-spacing: 1.08px;
  line-height: 1.5rem;
}

.table td {
  /* display: flex; */
  align-items: center;
  color: #000000;
  font-family: "Cormorant", cursive;
  font-weight: 500;
  font-size: 1.5rem;
  vertical-align: middle;
}

.table td a {
  color: #000000;
}

.image-item-cart {
  height: 70px;
  margin-right: 1rem;
}

span:hover {
  color: #dab978;
  cursor: pointer;
}

.table-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.image-and-name-container {
  width: 260px;
}

.price-container {
  width: 45px;
}

.counter-subtotal-delete-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.subtotal-delete-container {
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

.link {
  color: #c19d56;
}

.link:hover {
  color: #dab978;
}

.count-buttons {
  font-family: "Montserrat", serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container button {
  width: 26px;
}

.row-border {
  width: 100%;
  border-top: 1px solid #dee2e6;
  margin-top: -1px;
}

@media (max-width: 767px) {
  .table-header {
    display: none;
  }
}

@media (min-width: 768px) {
  .table-header-small {
    display: none;
  }
}

/* td {
  border-bottom: 1px solid black;
} */

/* .input-container {
  display: flex;
  height: 3rem;
  align-items: center;
}

.buttons-container {
  width: 1.5rem;
} */
