.table {
  color: #c19d56;
  margin-bottom: 4rem;
}

.table tr th {
  color: #000000;
  font-family: "Montserrat", cursive;
  font-size: 1.1rem;
  letter-spacing: 1.08px;
  line-height: 1.5rem;
}

.table td {
  color: #000000;
  font-family: "Cormorant", cursive;
  font-weight: 500;
  font-size: 1.5rem;
  vertical-align: middle;
}

.table td a {
  color: #000000;
}

.image-item-cart {
  height: 70px;
  margin-right: 1rem;
}

span:hover {
  color: #dab978;
  cursor: pointer;
}

.link {
  color: #c19d56;
}

.link:hover {
  color: #dab978;
}

.count-buttons {
  font-family: "Montserrat", serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container button {
  width: 26px;
}

/* .input-container {
  display: flex;
  height: 3rem;
  align-items: center;
}

.buttons-container {
  width: 1.5rem;
} */
