.modal-content {
  width: 80%;
  margin-left: 2rem;
}

.modal-header {
  /* background-color: black; */
  color: #c19d56;
  font-family: "Montserrat", serif;
  text-shadow: 0 0 0 black;
}

.modal-header button {
  /* background-color: #c19d56 !important; */
  color: #c19d56 !important;
  font-family: "Cormorant";
  font-weight: 600 !important;
  letter-spacing: 1.5px;
  border-radius: 0 !important;
  border: none !important;
}

.modal-title {
  margin-left: 43%;
}

.modal-body {
  /* background-color: black; */
  text-shadow: 0 0 0 black;
}

.modal-body p {
  color: #111111;
  font-family: "Montserrat", serif;
  font-weight: 400;
}

.modal-footer {
  text-shadow: 0 0 0 black;
}

.modal-btn {
  background-color: #c19d56 !important;
  color: white !important;
  font-family: "Montserrat", serif;
  letter-spacing: 1.5px;
  border-radius: 0 !important;
  border: none !important;
  width: 90%;
}

.modal-btn:hover {
  background-color: white !important;
  border: 1px solid #c19d56 !important;
  color: #c19d56 !important;
}
