.nav-container {
  background-color: white;
  padding: 3rem 0;

  height: 120px;
}

.logo-container {
  margin-left: 11rem;
}

.logo {
  font-size: 2.8rem;
}

.nav-container ul {
  display: flex;
  list-style: none;
}

.item-nav-bar {
  color: black;
  font-family: "Montserrat", serif;
  font-weight: 500;
  line-height: 23px;
  font-size: 13px;
  letter-spacing: 2.47px;
  padding: 0 14px;
  text-decoration: none;
}

.item-nav-bar:hover {
  color: #c19d56;
  text-decoration: none;
}

.item-nav-login {
  color: #c19d56;
  cursor: pointer;
  font-family: "Cormorant", serif;
  font-weight: 500;
  font-size: 18px;
  margin-right: 2rem;
}

.item-nav-cart {
  color: #c19d56;
  font-family: "Cormorant", serif;
  font-weight: 500;
  font-size: 21px;
  margin-bottom: 2px;
  margin-right: 2rem;
}

.nav-link {
  padding: 0;
  color: black !important;
}

.nav-link:hover {
  color: #c19d56 !important;
}

.container-nav-items {
  margin-right: 10rem;
}
.dropdown-text {
  font-family: "Cormorant";
  font-weight: 500;
  font-size: 19px;
  transition: all 0.3s;
  text-decoration: none;
  color: black;
}
.dropdown-text:hover {
  color: #c19d56;
}

@media only screen and (max-width: 992px) {
  .nav-elements {
    background-color: white;
    border: solid 1px #d3d4d5;
  }
  .user-icon {
    margin-left: 14px;
  }
}

.profile-avatar {
  height: 1.3rem;
}
