.footer-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	background-color: black;
	color: white;
	padding: 10rem 0;
}

.contact-container {
	max-width: 30%;
	margin: 0 1rem;
}

.contact-container h5 {
	margin-bottom: 2rem;
	font-family: "Montserrat", serif;
	font-size: 1.5rem;
	letter-spacing: 1.68px;
}

.contact-container p {
	text-align: left;
}

.center-container {
	max-width: 30%;
	margin: 0 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	font-size: 3rem;
	margin-bottom: 1rem;
	width: 100%;
}

.logo-center-footer span {
	color: #c19d56;
	font-family: "Great Vibes", cursive;
	font-size: 2rem;
}

.logo-center-footer h4 {
	font-family: "Montserrat", serif;
	font-size: 1.5rem;
	letter-spacing: 1.68px;
}

.logo-center-footer img {
	margin: 1.5rem 0;
	width: 40%;
}

.logo-center-footer p {
	color: #c8c8c8;
	font-family: "Cormorant", cursive;
}

.map-container-footer {
	width: 25%;
	margin: 0 1rem;
}
.map-container-footer img {
	width: 100%;
	height: auto;
}
.footer-bottom {
	background-color: black;
	text-align: center;
	border-top: 1px solid #c19d56;
	color: #c8c8c8;
	font-family: "Cormorant", cursive;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
	.footer-container {
		flex-wrap: wrap;
	}
	.contact-container {
		width: 100%;
	}
	.center-container {
		width: 100%;
	}
	.map-container-footer {
		width: 100%;
	}
} */

/* @media only screen and (min-width: 600px) {
	.footer-container {
		flex-wrap: wrap;
	}
	.contact-container {
		width: 100%;
	}
	.center-container {
		width: 100%;
	}
	.map-container-footer {
		width: 100%;
	}
}


@media only screen and (min-width: 768px) {
	.footer-container {
		flex-wrap: wrap;
	}
}


@media only screen and (min-width: 992px) {
	.footer-container {
		flex-wrap: wrap;
	}
}

@media only screen and (min-width: 1200px) {
} */
