.page-profile-container {
  align-items: center;
  display: flex;
  margin-top: 8rem;
  margin-bottom: 7rem;
}

.profile-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 25%;
}

.profile-container img {
  border-radius: 50%;
  height: 10rem;
  object-fit: cover;
  width: 10rem;
}

.profile-container span {
  align-items: center;
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.68px;
  margin: 2rem 0 1rem;
}

.profile-container p {
  font-size: 1.2rem;
}

.profile-container button {
  border: none;
  background-color: white;
  color: #c19d56;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2.47px;
  line-height: 26px;
  margin-top: 0.8rem;
  outline: #c19d56 solid 1px;
  outline-offset: 2px;
  padding: 0.5rem 3rem;
  transition: all 0.5s;
  width: 80%;
  text-align: center;
}

.profile-container button:hover {
  background-color: #c19d56;
  color: white;
}

.profile-orders-container {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.profile-orders-container h4 {
  font-family: "Montserrat", serif;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.68px;
  margin-bottom: 3rem;
  text-align: left;
}
